@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "bootstrap/dist/css/bootstrap.min.css";


:root {
  --background: #171717;
  --foreground: #ffffff;
  --gold: #e1a159;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gold {
  background-color: var(--gold);
}
.text-gold {
  color: var(--gold);
}

.wpp-button-msg {
  display: none;
}

.wpp-button {
  width: 4em;
  height: 4em;
  transition: background-color 3s ease, color 3s ease, width .5s ease;
  overflow: hidden;
}

.wpp-button:hover {
  width: 10em;
  background-color: #25d366 !important;
}

.wpp-button:hover .wpp-button-msg {
  display: block;
}

.property-hero-card, .property-view-images {
  position: relative;
}
.property-hero-card::after, .property-view-images::after {
  content: "";
  width: 100%;
  height: 2em;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to bottom, #171717, transparent);
}

.slick-slider .slick-list .slick-track {
  margin-left: 0;
  margin-right: 0;
}

.btn-properties-filter {
  position: sticky;
  top: 15vh;
  z-index: 100;
  width: fit-content;
}

.btn-properties-filter button {
  padding: .5em 1em 0.5em 1.5em;
  border-width: thin;
  border-color: black;
  border-radius: 0 1em 1em 0;
}

.cursor-pointer {
  cursor: pointer;
}

.filter-badges {
  position: sticky;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: fit-content;
  padding: 1em;
}
.filter-badges.isSticky {
  border-radius: 0 0 1em 1em;
  border-top-width: 0;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-style: solid;
  border-color: black;
  background-color: var(--foreground);
}

@keyframes hammer-hit {
  0%   { transform: rotate(0deg); }
  30%  { transform: rotate(-60deg); } 
  50%  { transform: rotate(-40deg); }
  70%  { transform: rotate(-60deg); }
  100% { transform: rotate(0deg); } 
}

.hammer {
  animation: hammer-hit 1s ease-in-out infinite;
}